/* nav heseg ehlel */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* font-family: 'Manrope', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

:root {
    /* --bg-color: #252424;  */
    --bg-color: #2b2c2d; 
    --second-bg-color: red;
    --text-color: #fff; 
}

.header {
    width: auto;
    background-color: var(--bg-color);
    padding: 0 6%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}  

nav a {
    flex: 0;
}

nav img {
    width: 20px;
   
}

.nav-links {
    flex: 1;
    text-align: left;
    padding-left: 30px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    cursor: pointer;
}

.nav-links ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li:hover,
.nav-links li .active {    
    background-color: gray;
    transition: all .3s ease-in-out;
    border-radius: 8px;
}

.nav-links i {
    color: var(--text-color);
}

nav .fa {
    color: var(--text-color);
    display: none;
}

.nav-login {
    flex: 0;
}

.nav-login a {
    padding: 10px 15px;
    text-decoration: none;
    background-color: transparent;
    color: var(--text-color);
    border-radius: 8px;
    box-shadow: none;
    cursor: pointer;
    border: 1px solid var(--text-color);
}

.sub-menu-1 {
    display: none;
}

.nav-links ul li:hover .sub-menu-1  {
    display: block;
    position: relative;
    margin-left: -15px;
}

.nav-links ul li:hover .sub-menu-1 ul {
    display: block;
    margin-left: 6px;
}

.nav-links ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    background: transparent;
    text-align: left;
}

.banner {
    width: auto;
    min-height: 120vh;
    background-image: url(/zurag/coolguy.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner .text-box {
    position: absolute;
    max-height: 70%;
    max-width: 28%;
    bottom: 7%;
    right: 5%;
    background-color: var(--text-color);
    overflow: hidden;
    z-index: 1000;
}

.banner .text-box .label {
    background-color: var(--second-bg-color);
    letter-spacing: 2px;
    font-size: 11px;
    padding: 10px 20px;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.banner .text-box .title {
    text-decoration: none;
    color: var(--bg-color);
}

.banner .text-box .title h3 {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 100%;
    font-weight: 700;
    padding: 0 16px 20px;
}

.banner .text-box .dash {
    background-color: var(--bg-color);
    width: 48px;
    height: 7px;
    margin: 0 16px;
}
 
.banner .text-box .description {
    display: inline-block;
    color: var(--bg-color);
    text-decoration: none;
    font-weight: 400;
    line-height: 130%;
    padding: 15px 16px;
    font-size: 15px;
}

.banner .text-box .author {
    font-size: 14px;
    padding: 0 16px 22px;
}


/* nav-tugsgul */



/* section ehlel */

/* Dropdown togloltiin huvaari*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    /* margin-top: 30px; */
    background-color: #f1f1f1;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 4px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */





  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
   
    
  }

  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dd-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px 45px 5px 15px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }
  
  .dd-button:hover {
    background-color: #eeeeee;
  }
  
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
  }
  .dd-input + .dd-menu {
    display: none;
  } 
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }
  .section .grid-container2 div{
   text-align: center;
  }
  .grid-container1 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }
  .bg-color1{
    background-color: #fff;
  }
  .m-4{
    margin: 4px;
  }
  .p-4{
    padding: 4px;
  }
  .p-20{
    padding: 20px;
  }
  .mr-20{
    margin-right: 20px;
  }
  .ml-20{
    margin-left: 20px;
  }
  .mb-30{
    margin-bottom: 30px;
  }
  .mt-30{
    margin-top: 30px;
  }
  .divz img{
    text-align: center;
    width: 20px;
    border-radius: 100%;
  }



/* section-tugsul */


/* team */
.h1-text{
    text-align: center;
    margin: 40px;
}
@media screen and (max-width:470px) {
    .gishuud table{ display: none;}
  
    
}
@media screen and (max-width: 1300px){
    .sec2{
        margin: 0px !important;
        
    }
}
@media screen and (max-width: 900px){
    .gishuud 
    {
        
        height: 250px;
        display: flex !important;
        flex-direction: column;

    
    }
}
@media screen and (max-width: 768px) {
      /* index-header ehlel */
   .banner .text-box .title h3 {
    font-size: 16px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: var(--bg-color);
        height: 127vh;
        width: 200px;
        top: 0;
        right: -230px ;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: var(--text-color);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-login {
        flex: 1;
        margin-left: 30px;
    }
    .banner .text-box {
        display: none;
    }
    /* index-header end */
    .sec1{
        flex-direction: column;
        margin-top: 0px  !important;
    }
    .sec1-div1 .logo{
        /* flex-direction: column ; */
    }
    .sec1-div1 img{
        /* margin-right: 0px !important; */
        width: 100px !important;
        margin-left: 0px !important;
        margin-bottom: 10px;
    }
    .sec1-div1 p{
        margin-top: 30px !important;
    }
    .sec1-2{
        display: none;
    }
    .sec2{
        margin: 0px !important;
        
    }
    .sec2 h2{
        display: none;
    }
    .sec2 .banners{
        display: none;
    }
    .gishuud 
    {
        
        height: 250px;
        display: flex ;
        flex-direction: column;
    }
     /* Footer */
     .footer{
        text-align: center !important;
    }
    .grid-container_footer {
    display: flex !important;
    flex-direction: column;
    gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
    }
    .item2f ul{
    display: none;

    }
    .item3f ul{
    display: none;
    list-style: none;
    }
    .item1f{
    display: none;
    }
    #angleIcon1{
    display: inline !important;
    }
    #angleIcon{
    display: inline !important;
    }
    /* footer end */
}
/* logo, bagiin tuuhtei heseg */
.sec1{
    display: flex;
    flex-direction: wrap;
    font-size: 30px;
    /* text-align: center; */
    margin: 70px;
    /* margin-left: 70px; */
}
.sec1-div1{
    
    flex: 50%;
}
.sec1-div1 h3{
    text-align: center;
}
.sec1-div1 p{
    margin-top: 20px;
    
}
.sec1-2{
    background-color: hsl(0, 0%, 100%);
    margin-right: 30px;
    margin-top: 5px;
    /* border-radius: 50px; */

}
.sec1-2 h2{
    font-size: 35px;
    padding-top: 20px;
    text-align: center;
}
.sec1-2 div{
   
    font-size: 18px;
    line-height: 40px;
    padding: 5px 20px;
    padding-bottom: 20px;
}
.sec1-div2{
    /* text-align: center; */
    flex: 50%;
    background-color: #fff;
    
}
.sec1-div2 h3{
    padding-top: 30px;
    text-align: center;
    flex: 50%;
}
.sec1-div2 p{
    /* text-align: center; */
    font-size: 18px;
    line-height: 40px;
    padding: 50px;
    padding-top: 20px;
} 
.sec1-div1 .logo{
    display: flex;
    flex-direction: wrap;
}
.sec1-div1 img{
    margin-right: 40px;
    width: 200px;
    border-radius: 100%;
    margin-left: 100px;
}
.sec1-div1 p{
    margin-top: 80px;
}
.sec1-div1 h3{
    margin-top: 50px;
}
.banners{
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    
    
}
.banners img{
    width: 100%;
    height: 100px;
}

.banners div{
    flex: 40%;
    margin: 15px;
}
/* .ban-div1
{
   flex: 50%;
    margin: 10px;

}
.ban-div2
{
    flex: 50%;
    margin: 10px;
} */
.sec2{
    margin: 70px 150px;
    
}
.gishuud 
{
    
    /* display: flex; */
    /* flex-wrap: wrap; */
    height: 250px;
    display: grid;
grid-template-columns: auto auto;
  
}
/* .gishuud div{
    flex: 0 0 33.333333%;
   
} */


.gishuud table{
    /* width: 100%; */
    /* margin-left: auto; */
    border: 1px solid #ddd;
    border-collapse: collapse;
    
}

.sec2 .gishuud table th, td{
    border-right: 1px solid #ddd;
    text-align: center;
    font-size: 11px;
    padding: 3px 20px;
    
}
.bnew{
    display: flex;
    margin-top: 40px;
    background-color: #fff;
    margin: 15px;
    
   
}
.bnew .divt1{

    flex: 40%;
    display: flex;
}
.divt1 span{
    padding: 20px;
    font-size: 25px;
}
.divt1 img{
    width: 100%;
    height: auto;
    /* height: 130px; */
   
}

.bnew .divt2{
    flex: 60%;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    justify-content: right;
    padding-top: 20px;
    padding-bottom: 20px;
}
.divt2 a{
    color: #000;
}

  
  /* visited link */
  .divt2 a:visited {
    color: rgb(92, 92, 225);
  }
  
  /* mouse over link */
  .divt2 a:hover {
    color: rgb(237, 95, 95)
  }
  /* selected link */
 
.mr-20{
    margin-right: 20px;
  }
.mr-30{
    margin-right: 30px;
  }
.mt-40{
    margin-top: 40px;
}
.bnew ul{
    
    list-style: none;
    display: flex;
    /* flex-wrap: wrap; */
    color: #000;
    /* margin-left: 125px; */
    /* margin-left: auto; */
}
.bnew ul li{
    padding: 10px;
    /* width: 33.33%; */
    text-decoration: none;  
}


/* Footer */

.footer {
    width: 100%;
    text-align: left;
    padding: 15px 0;
    margin-top: 500px;
  }
  
  .footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
  }
  
  .item1f { grid-area: item1; }
  .item2f { grid-area: item2; }
  .item3f { grid-area: item3; }
  .item4f { grid-area: item4; }
  
  .grid-container_footer {
    display: grid;
    grid-template-areas:
  
      'item1 item1 item1 item2 item2 item2 item3 item3 item3 item4 item4 item4';
    gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
  }
  .item2f li{
    padding: 8px;
  }
  .item3f li{
    padding: 8px;
  }
  #angleIcon1{
    display: none;
  }
  #angleIcon{
    display: none;
  }
   
  .comment {
  width: 50%;
  height: 50px;
  padding: 10px;
  background-color: white;
  font: 1em/1em cursive;
  
  }
  footer h3{
  padding-bottom: 5px;
  }
  /* footer end */














  
  